<div id="waline"></div>
<script src="https://unpkg.com/@waline/client@v3/dist/waline.js"></script>
<script>
  Waline.init({
    el: '#waline',
    serverURL: '<%= theme.waline.server_url %>',
  });
</script>
